@use "reset.scss";
@use "variables.scss";

body {
  height: 100%;
  width: 100vw;
  background: linear-gradient(252.44deg, #1a1a1a 0%, #0a0a0a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  padding-bottom: 160px;

  header {
    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      padding: 32px 0;

      h1 {
        color: variables.$lightGray;
        font-weight: 300;
        font-size: 40px;
        span {
          color: variables.$purple;
        }
      }

      button {
        background-color: transparent;
        border: 2px solid variables.$purple;
        border-radius: 6px;
        padding: 21px 30px;
        color: variables.$lightGray;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition-duration: 0.5s;

        &:hover {
          background-color: variables.$purple;
          color: variables.$black;
          transition-duration: 0.5s;
        }
      }
    }
  }

  .main__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-top: 72px;

    &__call-to-action {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      text-align: center;
      color: variables.$lightGray;
    }

    &__paragraph {
      font-size: 32px;
      font-weight: 500;
      color: variables.$purple;
      margin: 32px 0 105px;
    }

    span {
      font-size: 26px;
      font-weight: 500px;
      line-height: 36px;
      width: 100%;
      color: variables.$gray;
    }

    form {
      margin-top: 48px;
      width: 100%;

      &:first-child {
        margin-bottom: 24px;
      }

      .form__input-group {
        width: 100%;
        margin-bottom: 24px;

        label {
          font-size: 18px;
          font-weight: 500;
          color: variables.$lightGray;
        }

        input {
          width: 100%;
          height: 60px;
          border-radius: 4px;
          background-color: transparent;
          border: 1px solid variables.$blackLight;
          margin-top: 8px;

          &:focus {
            outline-color: variables.$purple;
          }
        }
      }

      button {
        width: 100%;
        height: 60px;
        margin-top: 16px;
        background-color: variables.$purple;
        color: variables.$black;
        font-weight: 600;
        font-size: 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition-duration: 0.5s;

        &:hover {
          background-color: darken(variables.$purple, 3%);
          transition-duration: 0.5s;
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    &--is-visible {
      display: flex;
    }

    &__bg {
      width: 100vw;
      height: 100vh;
      background-color: #0a0a0ade;
    }

    &__content {
      position: absolute;
      top: 200px;
      left: 340px;
      width: 800px;
      height: 300px;
      background-color: variables.$black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid variables.$blackLight;

      &__message {
        font-size: 32px;
        font-family: sora;
        font-weight: 600;
        color: variables.$lightGray;
        margin-bottom: 48px;

        &--error {
          display: none;
          span {
            color: variables.$red;
          }
        }

        &--sucess {
          display: none;
          span {
            color: variables.$green;
          }
        }
      }

      &__btn__close {
        width: 600px;
        height: 60px;
        border-radius: 4px;
        border: none;
        font-size: 24px;
        font-weight: bold;
        color: variables.$black;
        cursor: pointer;

        &--error {
          background-color: variables.$red;
        }

        &--sucess {
          background-color: variables.$green;
        }
      }
    }
  }
}
